footer {
  width: auto;
  height: 4rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.left_view h3 {
  font-size: 21px;
}

.left-view p {
  font-weight: 600;
}

.left_view span {
  font-weight: 400;
}
